:root {
    --Blue: #262A43;
}

.logo {
    font-family: 'NaughtyMonster', sans-serif;
    color: white;
}

.navbar {
    background: var(--Blue);
    border-radius: 12px;
    box-shadow: 8px 9px 0px #000000;
}

.navs {
    font-family: 'Fredoka';
}