body {
  font-family: "NaughtyMonster", sans-serif;
  margin: 0;
  background-color: #000000;
}

.main {
  background-size: 100% !important;
  background-repeat: no-repeat !important;
}

.font-main {
  font-family: "NaughtyMonster";
}
.font-secondary {
  font-family: "Fredoka";
}
